[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

#textarea-text {
	color: #FFFFFF;
}

textarea {
	resize:both;
}

.divtext {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	min-height: 20em;
	height: 60%;
	padding: 12px 20px;
    box-sizing: border-box;
	overflow: auto;
    border: 4px solid rgba(44,56,84,1);
    border-radius: 4px;
    background-color: rgba(44,56,80,0.5);
    color: #FFFFFF;
}

.divtext-title {
	min-height: 5em;
}

@media screen and (max-device-width: 768px) {
	.divtext {
		width: 100%;
	}
}
.fa-microphone {
	width: 70%;
	height: 20%;
	    /*font-size: 2em;*/
}
.round-button {
	z-index: 50;
  margin-right: auto;
  margin-left: auto;
  display:block;
  width:100px;
  height:100px;
  line-height:75px;
  border: 2px solid #f5f5f5;
  border-radius: 70%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: rgba(83,82,178,0.92);
	background: -moz-linear-gradient(top, rgba(83,82,178,0.92) 0%, rgba(62,176,199,0.96) 56%, rgba(62,176,199,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(83,82,178,0.92)), color-stop(56%, rgba(62,176,199,0.96)), color-stop(100%, rgba(62,176,199,1)));
	background: -webkit-linear-gradient(top, rgba(83,82,178,0.92) 0%, rgba(62,176,199,0.96) 56%, rgba(62,176,199,1) 100%);
	background: -o-linear-gradient(top, rgba(83,82,178,0.92) 0%, rgba(62,176,199,0.96) 56%, rgba(62,176,199,1) 100%);
	background: -ms-linear-gradient(top, rgba(83,82,178,0.92) 0%, rgba(62,176,199,0.96) 56%, rgba(62,176,199,1) 100%);
	background: linear-gradient(to bottom, rgba(83,82,178,0.92) 0%, rgba(62,176,199,0.96) 56%, rgba(62,176,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5352b2', endColorstr='#3eb0c7', GradientType=0 );
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}
.round-button:hover {
  background: rgba(40,88,235,1);
	background: -moz-linear-gradient(top, rgba(40,88,235,1) 0%, rgba(121,97,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(40,88,235,1)), color-stop(100%, rgba(121,97,255,1)));
	background: -webkit-linear-gradient(top, rgba(40,88,235,1) 0%, rgba(121,97,255,1) 100%);
	background: -o-linear-gradient(top, rgba(40,88,235,1) 0%, rgba(121,97,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(40,88,235,1) 0%, rgba(121,97,255,1) 100%);
	background: linear-gradient(to bottom, rgba(40,88,235,1) 0%, rgba(121,97,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2858eb', endColorstr='#7961ff', GradientType=0 );
}

.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{
    display: table-cell;
}

.round-button-microphone{
  width: 100px;
  height: 100px;
}
.round-button .fa-lg {
	font-size: 2.5em;
    vertical-align: -30%;
}
.round-button-cancel {
	width: 60px;
	height: 60px;
    margin-left: 50%;
    line-height: 1em;
}

.round-button-accept {
	width: 60px;
    height: 60px;
    margin-right: 50%;
    line-height: 1em;
}

.round-button-cancel .fa-lg {
	font-size: 1.7em;
	vertical-align: 1;
}

.round-button-accept .fa-lg {
	font-size: 1.7em;
	vertical-align: 1;
}

@media(max-width: 768px){
  .round-button-microphone{
    width: 80px;
    height: 80px;
  }
	.round-button-cancel {
		margin-left: 15%;
	}
	.round-button-accept {
    	margin-right: 15%;
	}
}

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
.uil-ripple-css {
  z-index: 0;
  background: none;
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
}
.uil-ripple-css div {
  position: absolute;
  z-index: 0;

  top: -30%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 6px;
  border-style: solid;
  -ms-animation: uil-ripple 3.5s ease-out infinite;
  -moz-animation: uil-ripple 3.5s ease-out infinite;
  -webkit-animation: uil-ripple 3.5s ease-out infinite;
  -o-animation: uil-ripple 3.5s ease-out infinite;
  animation: uil-ripple 3.5s ease-out infinite;
}
.uil-ripple-css div:nth-of-type(1) {
  border-color: #2828ff;
}
.uil-ripple-css div:nth-of-type(2) {
  border-color: #53ebc4;
  -ms-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
  -webkit-animation-delay: 1.75s;
  -o-animation-delay: 1.75s;
  animation-delay: 1.75s;
}

