video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/bg.webm) no-repeat;
    background-size: cover; 
}


@media screen and (max-device-width: 768px) {
    html {
        background: url(../img/bg.jpg) #000 no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }
    #bgvid {
        display: none;
    }
}

#custom-body {
    padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-color: transparent;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

#forgot-header {
    color: #FFFFFF;
}

#forgot-p {
color: #FFFFFF;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


@media(min-width:768px) {
    .custom-body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        color: transparent;
        background-color: transparent;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

    .   custom-body.modal-open {
        overflow: hidden;
    }
}

.jumbotron {
    opacity: .4;
}

.inner-jumbo {
    opacity: 1;
}
.main-heading {
    color: #96f7f3;
}


@keyframes fader-out{
  from   { opacity:1; }
  to { opacity:0; }
}
@-o-keyframes fader-out{
  from   { opacity:1; }
  to { opacity:0; }
}
@-moz-keyframes fader-out{
  from   { opacity:1; }
  to { opacity:0; }
}
@-webkit-keyframes fader-out{
  from   { opacity:1; }
  to { opacity:0; }
}

@keyframes fader-in{
  from   { opacity:0; }
  to { opacity:1; }
}
@-o-keyframes fader-in{
  from   { opacity:0; }
  to { opacity:1; }
}
@-moz-keyframes fader-in{
  from   { opacity:0; }
  to { opacity:1; }
}
@-webkit-keyframes fader-in{
  from   { opacity:0; }
  to { opacity:1; }
}

.page-transition.ng-enter {
    z-index:9999; 
   -webkit-animation: fader-in .4s both linear;
   -moz-animation: fader-in .4s both linear;
   -o-animation: fader-in .4s both linear;
    animation: fader-in .4s both linear;
    animation-delay: .4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.page-transition.ng-leave {
    z-index:8888; 
   -webkit-animation: fader-out .4s both linear;
   -moz-animation: fader-out .4s both linear;
   -o-animation: fader-out .4s both linear;
    animation: fader-out .4s both linear;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.alert{
   -webkit-animation: fader-in .4s both linear;
   -moz-animation: fader-in .4s both linear;
   -o-animation: fader-in .4s both linear;
    animation: fader-in .4s both linear;
    animation-delay: .4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index:9999; 
    width: 70%;
    position: fixed;
    left: 75%;
    margin-left: -60%;
    top: 10%;
    text-align: center;
}

.alert-out{
   -webkit-animation: fader-out .4s both linear;
   -moz-animation: fader-out .4s both linear;
   -o-animation: fader-out .4s both linear;
    animation: fader-out .4s both linear;
    animation-delay: .4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index:9999; 
    width: 70%;
    position: fixed;
    left: 75%;
    margin-left: -60%;
    top: 10%;
    text-align: center;
}


@media(max-width: 768px){
  .page-transition.ng-enter {
      z-index:9999; 
     -webkit-animation: fader-in .48s both linear;
     -moz-animation: fader-in .48s both linear;
     -o-animation: fader-in .48s both linear;
      animation: fader-in .48s both linear;
      animation-delay: .48s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
  }

  .page-transition.ng-leave {
      z-index:8888; 
     -webkit-animation: fader-out .48s both linear;
     -moz-animation: fader-out .48s both linear;
     -o-animation: fader-out .48s both linear;
      animation: fader-out .48s both linear;
      animation-timing-function: linear;
      animation-iteration-count: 1;
  }
  .alert {
    top: 7%;
  }
}