video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/bg.webm) no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 768px) {
    html {
        background: url(../img/bg.jpg) #000 no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }
    #bgvid {
        display: none;
    }
}

#custom-body {
    padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-color: transparent;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}


@media(min-width:768px) {
    .custom-body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        color: transparent;
        background-color: transparent;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }

    .   custom-body.modal-open {
        overflow: hidden;
    }
}

.jumbotron {
    opacity: .4;
}

.inner-jumbo {
    opacity: 1;
}
.main-heading {
    color: #96f7f3;
}