<link rel="stylesheet" href="css/about.css">
<div class="container-fluid about row">

	<div class=".col-md-4">
	<img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/12718058_10153621646179620_5419179759045857269_n.jpg?oh=d247c4bca7b1a41cead5aa8168f7c77c&oe=580771D3" class="img-responsive"></img>
	</div>

	<div class=".col-md-4">
	<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARsAAAAJGM0OTZjY2RhLWE3YzctNDhiOS04ZmFlLTdjMzFlMzg3ZjhiMA.jpg" class="img-responsive"></img>
	</div>


	<div class=".col-md-4">
	<img src="https://media.licdn.com/media/AAEAAQAAAAAAAAM9AAAAJDJkYWM1MWQ4LTcyNWEtNDg3OC1hMzdmLTAxN2M1ZWJmZjY5YQ.jpg3" class="img-responsive"></img>
	</div>
</div>

