<div ng-include="'partials/alert.html'"></div>

<!-- Hacky way of loading javascript on load FIX ME!-->
<iframe onload="getDashBoardHTML()" style="display:none"></iframe>
<div id="dream_log"></div>


<!-- FOR REFERENCE 
    <div class="dream-list-divider">
        <div class="dream-list-divider-header">JANUARY 2016</div>
    </div>

    <div class="dream-list-item">
        <a href="">
            <div class="dream-date-item">
                <div class="dream-date-month">JAN</div>
                <div class="dream-date-day">31</div>
            </div>
            <div class="dream-text-item">
                <div class="dream-text-heading">Dream Title</div>
                <p class="dream-text-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit orci ante, sit amet consectetur tortor fermentum sed. Praesent ut ligula lacinia, semper sapien rhoncus, sodales mi. Fusce non massa vitae leo feugiat aliquet quis aliquet neque. Nunc at condimentum nulla, vitae malesuada nibh. Nullam tristique ipsum nec ligula tempus.</p>
            </div>
        </a>
    </div> -->

