<!-- <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script type="text/javascript" src="js/authcheck.js"></script> -->

<link rel="stylesheet" href="css/dashboard.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
<div class="dream-list-log">
    <div class="dream-list-item">
        <a href="">
            <div class="dream-date-item">
                <div class="dream-date-month">FEB</div>
                <div class="dream-date-day">06</div>
            </div>
            <div class="dream-text-item">
                <div class="dream-text-heading">Dream Title</div>
                <p class="dream-text-description">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit. Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </div>
        </a>
    </div>
</div>