<div ng-include="'partials/alert.html'"></div>

<div class="divtext divtext-title" id="title" contentEditable=true data-text="Title"></div>
<br>
<div class="divtext" id="dream-text" contentEditable=true data-text="Log entry here:"></div>
<br></br>


<div class="Row">
    <div class="Column"><button class="round-button round-button-cancel" ><i class="fa fa-times fa-lg" aria-hidden="true"></i></button></div>
    <div class="Column"><button class="round-button" ><i class="fa fa-microphone fa-lg"></i></button></div>
    <div class="Column"><button class="round-button round-button-accept" ><i class="fa fa-check fa-lg" aria-hidden="true"></i></button></div>
</div>
<!-- 
<div id="listening"></div> -->
