<div ng-include="'partials/alert.html'"></div>

<div class="divtext divtext-title" id="title" contentEditable=true data-text="Title"></div>
<br>
<div class="divtext" id="dream-text" contentEditable=true data-text="Log entry here:"></div>

<div class="Row">
    <div class="Column"><button class="round-button round-button-cancel" ><i class="fa fa-times " aria-hidden="true"></i></button></div>
    <div class="Column"><button id="microphone-listener" onClick="javascript:microphoneStart()" class="round-button round-button-microphone" ><i class="fa fa-microphone "></i></button></div>
    <div class="Column"><button class="round-button round-button-accept" ><i class="fa fa-check " aria-hidden="true"></i></button></div>
</div>
<!-- 
<div id="listening"></div> -->
