<div class="form">
  <div class="thumbnail"><img src="http://fusion.ddmcdn.com/kids/uploads/icon_earth.png"/></div>
  <form class="login-form">
    <input type="text" id="email" placeholder="email"/>
    <input type="password" id="password" placeholder="password"/>
    <button onclick="javascript:handleSignIn()">Login</button>
    <br></br>
    <button id="facebook-button" class="facebook-button" id="quickstart-sign-in" name="signin"><i class="fa fa-facebook-official" style="font-size:18px"></i>   Login with Facebook</button>
    <p class="message">Not registered? <a href="#/signup">Create an account.</a></p>
    <p class="message"><a href="#">Forgot your password?</a></p>
  </form>
</div>
