<div ng-include="'partials/alert.html'"></div>

<div class="form">
  <form class="login-form">
  	<h2 id="forgot-header">Forgot Your Password?</h2>
  	<p id="forgot-p">Please enter the email you used to sign up.</p>
    <input type="text" id="email" placeholder="email address"/>
    <button id="sign-in-button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" onclick="javascript:sendPasswordReset()">Send Recovery Email</button>
    <p class="message">Already registered? <a href="#/login">Sign In</a></p>
  </form>
</div>