<div ng-include="'partials/alert.html'"></div>

<div class="form">
  <div class="thumbnail"><img src="http://fusion.ddmcdn.com/kids/uploads/icon_earth.png"/></div>
  <form class="login-form">
    <input type="text" id="name" placeholder="name"/>
    <input type="text" id="email" placeholder="email address"/>
    <input type="password" id="password" placeholder="password"/>
    <input type="password" id="password-2" placeholder="confirm password"/>
    <button id="create-button" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Loading" onclick="javascript:handleSignUp()">Create</button>
    <p class="message">Already registered? <a href="#/login">Sign In</a></p>
  </form>
</div>
