<center>
            <form action="/api/signup" method="POST">
              Name:<br>
              <input type="text" name="name"><br>
              Username:<br>
              <input type="text" name="username"><br>
              Password:<br>
              <input type="password" name="psw"><br>
              Email:<br>
              <input type="text" name="email"><br>
              <input type="submit" value="Login" id="submit_button">
              <br></br>   
            </form>
</center>